@import "../partials/_base";
h1{
    color: $titleColor;
    i{
        color: $secondColor;
    }
}
p{
    font-size: 14px;
}

.work-links {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            display: inline-block;
            margin-right: 10px;
            a {
                color: $secondColor;
                font-size: 21px;
                position:  relative;
                top: 0;
                @extend %mainTransition;
                &:hover{
                    top: -3px;
                }
            }
        }
    }
}