//variables
$mainColor :#01b1bd;
$secondColor :#e65b7a;
$titleColor : #888;
$linkColor :#5f5f5f;
$extraColor :#0f173c;


//@extend
%flexPosition{
    display: flex; 
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center; 
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    -webkit-justify-content: center;
    justify-content: center; 
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items:center; 
    height:100%; 
}
%mainTransition{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


//mixin
@mixin B-radius($r) {
    border-radius: $r;
    -moz-border-radius: $r;
    -webkit-border-radius: $r;
}
