@import "../partials/_base";
h1{
    color: $titleColor;
    i{
        color: $secondColor;
    }
}
.skills-icons {
    padding: 0;
    list-style-type: none;
    margin-top: 1em;
    li {
        display: inline-block;
        margin-right: 10px;
        color: white;
        font-size: 21px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: $secondColor;
        @include B-radius( 50% );
    }
}

a.more {
    color: $mainColor;
    margin-top: 2em;
    display: block;
    @extend %mainTransition;
    &:hover{
        text-decoration: none;
        font-style: italic;
    }
}