<h1><i>what </i> i konow...</h1>
<ul class="skills-icons">
  <li><i class="fab fa-html5"></i></li>
  <li><i class="fab fa-css3-alt"></i></li>
  <li><i class="fas fa-bold"></i></li>
  <li><i class="fab fa-sass"></i></li>
  <li><i class="fab fa-js"></i></li>
  <li><i class="fab fa-angular"></i></li>
  <li><i class="fab fa-wordpress-simple"></i></li>
  <li><i class="fab fa-git"></i></li>
</ul>

<a class="more" href="assets/cv.pdf" target="_blank">... and more in this link.</a>