<div class="col main-wrapper">
  <div class="row">
    <section class="col-3 padding-less">
      <app-side-bar></app-side-bar>
    </section>

    <section class="col-9 padding-less">
      <app-content></app-content>
    </section>
  </div>
</div>