@import "~bootstrap/scss/bootstrap.scss";
// @import "~font-awesome/scss/fontawesome.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
body, html {
   height: 100%; 
}
body{
    font-family: 'Poppins', sans-serif;
    color: #bbb;
    letter-spacing: 1px;
}