<div class="side-bar-wrapper">
  <div class="rounded-circle side-bar-img"><img class="img-fluid" src='assets/img/side-bar/girl.png' /></div>

  <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul>
          <li class="nav-item active"><a class="nav-link" routerLink="about">about</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="skills">Skills</a></li>
        </ul>
      </div>
    </nav>
</div>