@import "../partials/_base";
.side-bar-wrapper{
    background-color: $mainColor;
    color: white;
    flex-direction: column;
    @extend %flexPosition;
    .side-bar-img {
        background-color: #fff;
        height: 150px;
        padding: 2em;
        overflow: hidden;
        .img-fluid{
            height: 120px;
        }
    }
    .navbar{
        ul {
            padding: 0;
            margin: 0;
            li{
                list-style-type: none;
                a{
                    color: white;
                    text-align: center;
                    text-transform: uppercase;
                    opacity: 1;
                    font-weight: 700;
                    letter-spacing: 1px;
                    @extend %mainTransition;
                }
                &:hover{
                    a{
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
}